body {
	background: #d2d2c1 url('imagens/fundo.png');
}

a {
	/*Tira a linha de marcação do link.*/
	text-decoration: none;
}

.nav {
	color: #483D8B;
	background-color: #F5DEB3;
	font-size: 18px;
	font-weight: bold;
	margin-right: 420px;
	font-family: Verdana, sans-serif;
	padding: 10px 0px 10px 8px ;
	/*width: 900px;*/
}

.content {
	font-family: Verdana, sans-serif;
	font-size: 16px;
	background-color: white;
	text-align: left;
	margin-right: 420px;
	padding: 10px 0px 10px 8px ;
	/*width: 900px;*/
}

.about_anna {
	color: #F4A460;
}

.rodape {
	font-family: Verdana, sans-serif;
	text-align: center;
	/*width: 900px;*/
	margin-right: 420px;
	font-weight: bold;
}